.tarea-forumlario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    outline: none;
}   

.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: rgb(32, 99, 199);
    color: white;
    text-transform: capitalize;
}